#main {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

/*.zoom
{
  zoom: 100%;
}*/

h1 {
  font-size: 24px;
  color: white;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

p{
  color: white;
  text-align: center;
  font-family: 'Press Start 2P', cursive;


}

p.mainpage-instructions {
    position: absolute;
    top: 400px;
    left: 30px;
    width: 400px;
    text-align: left;
    font-size: 20px;
    font-family: "Helvetica Neue"


}


.mainpage-title{
  position: absolute;
  height: 300px;
  width: 400px;
  left: 30px;
  top: 150px;
  text-align: left;

}

.block-text{
  position: relative;
  top: 13px;
}


#background-body{
  background-image: url('game_boy.png');
  zoom: 75%;
  width: 900px;
  height: 1400px;
  position: absolute;
  left: 500px;
}

.cover-wrapper{
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/7b/8a/98/7b8a983faf282cab258cbfe9f5c226bb.jpg');
  background-size: 180%;
  min-height: 100vh;
  width: 100vw;

}

div.remaining-food-title{
  color: white;
  width: 100px;
  height: 60px;
  display: block;
  /*outline: 1px solid black;*/
  padding-top: 25px;
  font-size: 10px;
  position: absolute;
  left: 200px;

  font-family: 'Press Start 2P', cursive;

}

.game-wrapper{
  zoom: 110%;
  position: absolute;
  left: 257px;
  top: 180px;
}

.label-key-1{
  position: relative;
  left: -60px;
  bottom: 0px;
  height: 60px;
  width: 60px;
  margin: 0px;
  padding: 0px;
  /*outline: 1px solid black;*/

}

.label-key-2{
  position: relative;
  left: -30px;
  bottom: 0px;
  height: 60px;
  width: 60px;
  margin: 0px;
  padding: 0px;
  /*outline: 1px solid black;*/

}

.key-list-title{
  color: white;
  width: 60px;
  height: 60px;
  display: block;
  /*outline: 1px solid black;*/
  padding-top: 25px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.key-list-wrapper{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  width: 300px;
  height: 70px;
  /*outline: 1px solid black;*/

}

.key-list-div-return{
  width: 200px;
  height: 100px;
  /*outline: 1px solid red;*/
}



p {
  font-size: 13px;
  text-align: center;
}

.row {
  width: 500px;
  margin: 0 auto;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

section{
}

.tile {
  height: 38px;
  width: 37px;
  background: transparent;
  /*background-image: url('button.png');*/

  /*background-image: url('ground_sprite_3.png');*/
  float: left;
  border-style: none;
  line-height: 20px;
  padding-left: 3px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.button-tile{
  background-image: url('button.png');


}

.keen{
  position: relative;
  left: -1px;
  top: 2px;
}

.keys{
  position: relative;
  left: -3px;
  bottom: 0px;
}

.exit-loc{
  position: relative;
  left: -3px;
  bottom: 6px;
}

.wall{
  position: relative;
  left: -4px;
  bottom: 0px;
  z-index: 2;
}

.block{
  position: relative;
  left: -3px;
  bottom: -1px;
  z-index: 2;
}

.food{
  position: relative;
  left: -4px;
  bottom: 0px;
  z-index: 1;

}

.explored {
  border-style: inset;
}

.flagged, .bombed {
  color: red;
}

.modal-screen {
  z-index: 998;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, .3);
}

.modal-content {
  z-index: 999;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
  width: 200px;
  height: 120px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.spacer{
    width: 100px;
}

.remaining-food-title{
  position: absolute;
  bottom: -11px;
  width: 200px;

}


.level-title{
  position: absolute;
  bottom: 0px;
  right: 70px;
  width: 100px;
  bottom: 230px;
}

span{
  font-size: 10px;
}

.food-modal{
  position: absolute;
  bottom: 0px;
  right: 30px;
  width: 600px;
  bottom: 435px;
  color: #F26D21;
  font-family: 'Press Start 2P', cursive;

}
