#main {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

/*.zoom
{
  zoom: 100%;
}*/

h1 {
  font-size: 24px;
  text-align: center;
}

#background-body{
  background-image: url('game_boy.png');
  width: 900px;
  height: 1400px;
}

.game-wrapper{
  zoom: 110%;
  position: absolute;
  left: 263px;
  top: 300px;
}

.label-key-1{
  position: relative;
  left: -60px;
  bottom: 0px;
  height: 60px;
  width: 60px;
  margin: 0px;
  padding: 0px;
  /*outline: 1px solid black;*/

}

.label-key-2{
  position: relative;
  left: -30px;
  bottom: 0px;
  height: 60px;
  width: 60px;
  margin: 0px;
  padding: 0px;
  /*outline: 1px solid black;*/

}

.key-list-title{
  color: white;
  width: 60px;
  height: 60px;
  display: block;
  /*outline: 1px solid black;*/
  padding-top: 20px;
  font-family: "Helvetica Neue"
}

.key-list-wrapper{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  width: 200px;
  height: 70px;
  /*outline: 1px solid black;*/

}

.key-list-div-return{
  width: 200px;
  height: 100px;
  /*outline: 1px solid red;*/
}



p {
  font-size: 13px;
  text-align: center;
}

.row {
  width: 500px;
  margin: 0 auto;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

section{
}

.tile {
  height: 38px;
  width: 37px;
  background: transparent;
  /*background-image: url('ground_sprite_3.png');*/
  float: left;
  border-style: none;
  line-height: 20px;
  padding-left: 3px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.keen{
  position: relative;
  left: -1px;
  top: 2px;
}

.keys{
  position: relative;
  left: -3px;
  bottom: 0px;
}

.wall{
  position: relative;
  left: -4px;
  bottom: 0px;

}

.explored {
  border-style: inset;
}

.flagged, .bombed {
  color: red;
}

.modal-screen {
  z-index: 998;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, .3);
}

.modal-content {
  z-index: 999;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
  width: 200px;
  height: 120px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}
